.header {
  align-items: center;
  background-color: var(--container);
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out, visibility 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.pageLinks {
  margin: 0 0.5em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.postPageLink {
  align-items: center;
  background-color: var(--container);
  display: flex;
  height: 40px;
  padding: 0 1em;
  position: absolute;
  top: 40px;
  transition: top 0.2s ease-in-out, visibility 0.2s ease-in-out;
  right: 0;
}

.hide {
  top: -40px;
  visibility: hidden;
}
