.header {
  align-items: center;
  background-color: var(--container);
  color: var(--text-secondary);
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  transition: opacity 0.5s ease;
  width: 100%;
  z-index: 1;
}

.pageLink {
  color: inherit;
  margin: 0 0.5em;
  text-decoration: none;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--focus);
    outline: none;
    text-decoration: none;
  }
}

.activePage {
  color: var(--focus);
}
