.header {
  align-items: center;
  background-color: var(--container);
  border-bottom: 1px solid var(--border);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 2;
}

.nav {
  align-items: stretch;
  display: flex;
  gap: 0.5em;
}

.pageLinks,
.postPageLink {
  background-color: var(--background);
}

.postPageLinkContainer {
  align-items: center;
  background-color: var(--container);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  display: flex;
  height: 60px;
  padding: 0 0.25em;
  position: absolute;
  right: 0;
  top: 59px;
  transition: top 0.2s ease-in-out;
}

.hide {
  top: -60px;
}
