.titleContainer {
  border-bottom: 1px solid var(--border);
  margin: 2em 0;
}

.title {
  margin: 0;
}

.infoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.shareLinks {
  display: flex;
}

.date {
  color: var(--text-secondary);
}
