.titleContainer {
  border-bottom: 1px solid var(--border);
  margin: 2em 0 1em 0;
}

.tags {
  font-size: 0.8em;
}

.title {
  margin: 0;
}

.infoContainer {
  align-items: flex-end;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem 0;
}

.shareLinks {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.shareLink {
  background-color: var(--container);
}

.date,
.tags {
  font-size: 0.8em;
  color: var(--text-secondary);
}

.rightHandSide {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
