.container {
  height: 100%;
  width: 100%;
}

.parallaxContainer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0 0;
  width: 100%;
}

.foreground {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  transform-origin: 0 0;
  transform: translateZ(0);
  transition: background-color 0.5s linear;
}

.foregroundContentRef {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  max-width: 1024px;
  padding: 0 1em 4em 1em;
  width: 100%;
}

.padContent {
  margin-top: 40px;
}

.hideHeader {
  opacity: 0;
}
