.container {
  height: 100%;
  width: 100%;
}

.parallaxContainer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0 0;
  width: 100%;
}

.heroBackground,
.heroCutout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: 70%;
  background-size: cover;
  transform-origin: 0 0;
}

.heroBackground {
  background-image: url('/assets/home/hero-background.png');
  transform: translateZ(-8px) scale(2);
}

.heroCutout {
  background-image: url('/assets/home/hero-cutout.png');
  transform: translateZ(-4px) scale(1.5);
}

.foreground {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  transform-origin: 0 0;
  transform: translateZ(0);
}

.heroTitleContainer {
  align-items: flex-start;
  align-self: center;
  color: var(--hero-text-primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  max-width: 1024px;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

@keyframes cursor {
  from, to { border-color: var(--focus) }
  50% { border-color: transparent; }
}

@keyframes line1Typing {
  from { width: 0 }
  to { width: 100% }
  66% { width: 0 }
}

@keyframes line2Typing {
  from { width: 0; display: none; }
  to { width: 100% }
  80% { width: 0; display: none; }
}

.line1,
.line2 {
  border-right: 0.12em solid transparent;
  font-size: 6rem;
  overflow: hidden;
  white-space: nowrap;
}

.line1 {
  margin-bottom: 0;
  animation:
    line1Typing 1.5s steps(2, end),
    cursor 1s step-end 3;
}

.line2 {
  margin-top: 0;
  animation:
    line2Typing 4s steps(6, end),
    cursor 1s step-end infinite 3s;
}

.contentContainer {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  max-width: 1024px;
  padding: 0 1rem 4rem 1rem;
  width: 100%;
}

.hideHeader {
  opacity: 0;
}
