@import '../../styles/mixins.scss';

.pageLink {
  @include interactive;

  align-items: center;
  background-color: var(--background);
  border-radius: 4px;
  color: var(--text-secondary);
  display: flex;
  font-weight: bold;
  height: 48px;
  text-decoration: none;
  text-transform: lowercase;

  &:hover,
  &:focus,
  &:active {
    color: var(--interactive);
    outline: none;
    text-decoration: none;
  }
}

.activePage {
  box-shadow: var(--shadow-active);
  color: var(--interactive);
  transform: scale(0.95);
}
