.pageLink {
  color: var(--text-secondary);
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;

  &:hover,
  &:focus,
  &:active {
    color: var(--interactive);
    outline: none;
    text-decoration: none;
  }
}

.activePage {
  color: var(--interactive);
}
