.character {
  align-items: center;
  border-radius: 2px;
  color: #fff;
  display: flex;
  height: 60px;
  font-family: Rubik, sans-serif;
  font-size: 30px;
  justify-content: center;
  text-transform: uppercase;
  transition: transform 0.5s ease-in-out, color 0.25s step-end;
  width: 60px;
}

.matchExact {
  background-color: #538d4e;
}

.matchPartial {
  background-color: #b59f3b;
}

.matchNone {
  background-color: #787c7e;
}

.hidden {
  color: transparent;
  transform: rotate3d(1, 0, 0, 180deg);
}
