.card {
  background-position: center;
  background-size: cover;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  text-decoration: none;
}

.date,
.titleContainer {
  background-color: var(--container);
  padding: 0.5rem;
}

.dateContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.titleContainer {
  margin-bottom: 1rem;
  width: calc(100% - 0.5rem);
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.title,
.excerpt {
  margin: 0.5rem 0;
}

.date,
.excerpt {
  font-size: 0.8em;
}

.card:hover,
.card:focus,
.card:active {
  outline: 3px solid var(--focus);
  text-decoration: none;

  .date,
  .titleContainer {
    background-color: var(--focus);
    color: var(--background);
  }
}
