.card {
  background-position: center;
  background-size: cover;
  border: 1px solid var(--border);
  color: inherit;
  height: 350px;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
}

.textContainer {
  backdrop-filter: blur(4px);
  background-color: rgba(var(--container--rgb), 0.6);
  display: grid;
  grid-template-rows: 50% 25% 25%;
  height: 100%;
  padding: 0.5em;
  transition: backdrop-filter 0.5s ease;
  width: 100%;
}

.date {
  display: flex;
  flex: 1;
  flex-basis: 50%;
  font-size: 0.8em;
  justify-content: flex-end;
}

.excerpt {
  overflow: hidden;
}

.card:hover,
.card:focus,
.card:active {
  outline: 3px solid var(--focus);
  text-decoration: none;

  .textContainer {
    backdrop-filter: none;
  }
}
