.toggleContainer {
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  cursor: pointer;
  width: 64px;
  height: 32px;
  background: var(--container-alt);
  border-radius: 24px;
  box-shadow: var(--shadow);
  position: relative;
  transition: all 0.05s ease-in-out;
}

.lightIcon,
.darkIcon {
  font-size: 24px;
  left: calc(100% - 30px);
  line-height: 24px;
  position: absolute;
  text-rendering: optimizeLegibility; // handle a weird bug in safari with emojis not aligning correctly
  transform: rotate(120deg);
  top: 4px;
  transition: left, opacity, 0.5s ease;
}

.lightIcon {
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 95%));
  opacity: 0%;
}

.darkIcon {
  filter: drop-shadow(1px -1px 1px rgb(0 0 0 / 95%));
  opacity: 100%;
}

.toggleButton {
  background: linear-gradient(
    120deg,
    var(--interactive),
    var(--interactive-alt)
  );
  box-shadow: var(--shadow-active);
  border-radius: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  transition: transform 0.5s ease, left 0.5s ease;
}

.input {
  height: 0;
  margin: 0;
  opacity: 0%;
  width: 0;
}

.input:checked + .toggle {
  .toggleButton {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }

  .lightIcon,
  .darkIcon {
    left: 4px;
    transform: rotate(0);
  }

  .lightIcon {
    opacity: 100%;
  }

  .darkIcon {
    opacity: 0%;
  }
}

.input:focus-visible,
.input:hover {
  + .toggle {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
  }
}

.input:active {
  + .toggle {
    box-shadow: var(--shadow-active);
    transform: scale(1);
  }
}

.input:focus-visible {
  + .toggle {
    outline: 3px solid var(--interactive);
  }
}
