@import '../../styles/mixins';

.link {
  @include interactive;

  align-items: center;
  border-radius: 4px;
  color: var(--icon-secondary);
  display: inline-flex;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;

  &:hover,
  &:focus,
  &:active {
    color: var(--interactive);
  }
}

.link svg {
  fill: currentColor;
  height: 28px;
  width: 28px;
}
