.link {
  color: var(--icon-secondary);
  padding: 4px;

  &:hover,
  &:focus,
  &:active {
    color: var(--focus);
    outline: none;
  }
}

.link svg {
  fill: currentColor;
  height: 24px;
  width: 24px;
}