@import '../../styles/mixins.scss';

.link {
  @include interactive;

  align-items: center;
  border-radius: 4px;
  color: var(--icon-secondary);
  display: flex;
  justify-content: center;
  min-height: 48px;
  min-width: 48px;

  &:hover,
  &:focus,
  &:active {
    color: var(--interactive);
    outline: none;
  }
}

.link svg {
  fill: currentColor;
  height: 28px;
  width: 28px;
}
