.button {
  background-color: var(--background);
  border: 3px solid var(--focus);
  color: var(--focus);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  min-height: 40px;
  padding: 0.5em 1em;
  text-transform: lowercase;

  &:active,
  &:hover,
  &:focus {
    outline: none;
    color: var(--background);
    background-color: var(--focus);
  }
}
