@import '../../styles/mixins.scss';

.button {
  @include interactive;

  background: linear-gradient(
    120deg,
    var(--interactive),
    var(--interactive-alt)
  );
  border: none;
  border-radius: 4px;
  color: var(--background);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  min-height: 44px;
  padding: 0.5em 1em;
  text-transform: lowercase;

  &:active,
  &:hover,
  &:focus {
    background: linear-gradient(120deg, var(--focus), var(--focus-alt));
    outline: none;
    text-decoration: none;
  }
}
