.footer {
  background-color: var(--container);
  display: flex;
  flex-direction: column;
  height: 60px;
  padding: 0.5em 1em;
}

.socialLinks {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.socialLink {
  margin: 0 4px;
}