.footer {
  align-items: stretch;
  background-color: var(--container);
  border-top: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  min-height: 60px;
}

.socialLink {
  background-color: var(--background);
}

.socialLinks {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  justify-content: center;
}
