.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  font-size: 6em;
  text-align: center;
}

.message {
  font-size: 2em;
  text-align: center;
  text-transform: lowercase;
}
