.container {
  position: relative;
}

.input {
  background-color: var(--container);
  border: none;
  color: var(--text-primary);
  font: inherit;
  outline: 1px solid var(--interactive);
  padding: 0.5em 2em 0.5em 0.5em;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    outline: 2px solid var(--focus);
  }

  &::placeholder {
    color: var(--text-secondary);
    text-transform: lowercase;
  }
}

.icon {
  fill: var(--icon-secondary);
  height: 100%;
  padding: 12px;
  position: absolute;
  right: 0;
}
