@import '../../styles/mixins';

.container {
  position: relative;
}

.icon {
  fill: var(--interactive);
  height: 100%;
  padding: 12px;
  position: absolute;
  right: 0;
}

.input {
  @include interactive;

  background-color: var(--container);
  border: none;
  border-radius: 4px;
  color: var(--text-primary);
  font: inherit;
  padding: 0.5em 2em 0.5em 0.5em;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    + .icon {
      transform: scale(1.05);
      transform-origin: left;
    }
  }

  &:active {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
  }

  &::placeholder {
    color: var(--text-secondary);
    text-transform: lowercase;
  }
}
