.titleContainer {
  border-bottom: 1px solid var(--border);
  margin: 2em 0;
}

.title {
  margin: 0;
}

.date {
  color: var(--text-secondary);
  margin: 1em 0;
}

.content {
  figure {
    display: flex;
    flex-direction: column;
    margin: 1em 0;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  figcaption {
    background-color: var(--container);
    color: var(--text-secondary);
    font-size: 0.8em;
    padding: 0.5em;
  }
}

.coverImage {
  background-position: top;
  background-size: cover;
  height: 100%;
  position: absolute;
  transform: translateZ(-4px) scale(5);
  transform-origin: bottom right;
  width: 100%;
}

.padder {
  box-shadow: inset 0 0 60px 0 black;
  height: 50vh;
}
