.coverImage2 {
  margin-top: 2em;
  width: 100%;
}

.titleContainer {
  border-bottom: 1px solid var(--border);
  margin: 2em 0;
}

.title {
  margin: 0;
}

.date {
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.content {
  figure {
    margin: 1em 0;
    position: relative;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  figcaption {
    background-color: var(--container);
    bottom: 0;
    color: var(--text-secondary);
    font-size: 0.8em;
    left: 0;
    padding: 0.5em;
    position: absolute;
    right: 0;
  }
}

.coverImage {
  background-position: center;
  background-size: cover;
  position: absolute;
  transform: translateZ(-8px) scale(2);
  transform-origin: 0 0;
  width: 100%;
}

.padder,
.coverImage {
  height: 50vh;
}
