.coverImage {
  margin-top: 2rem;
  width: 100%;
}

.titleContainer {
  border-bottom: 1px solid var(--border);
  margin: 2rem 0;
}

.title,
.date {
  margin: 1rem 0;
}

.date {
  color: var(--text-secondary);
}

.content {
  figure {
    margin: 1rem 0;
    position: relative;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  figcaption {
    background-color: var(--container);
    bottom: 0;
    color: var(--text-secondary);
    left: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
  }
}