html,
body {
  background-color: var(--background);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 112.5%;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

a {
  color: var(--interactive);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

pre code {
  display: block;
  padding: 1em;
}

p,
li {
  line-height: 1.5em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

:root[data-theme='light'] {
  --background: #fff;
  --border: #e0e0e0;
  --container: #f4f4f4;
  --container-alt: #a8a8a8;
  --focus: #de4bae;
  --focus-alt: #773787;
  --hero-background-rgb: 0, 0, 0;
  --icon-primary: #000;
  --icon-secondary: #525252;
  --interactive: #0f9bfe;
  --interactive-alt: #0353a6;
  --logo-durham-primary: #002337;
  --logo-durham-secondary: #702567;
  --logo-grafana: #0a0a0a;
  --logo-ibm: #1f70c1;
  --logo-qinetiq: #002744;
  --text-primary: #000;
  --text-secondary: #525252;
}

:root[data-theme='dark'] {
  --background: #262626;
  --border: #525252;
  --container: #393939;
  --container-alt: #6f6f6f;
  --focus: #dd8dff;
  --focus-alt: #fcb1b8;
  --hero-background-rgb: 244, 244, 244;
  --icon-primary: #f4f4f4;
  --icon-secondary: #c6c6c6;
  --interactive: #60bdff;
  --interactive-alt: #9ffbff;
  --logo-durham-primary: #f4f4f4;
  --logo-durham-secondary: #f4f4f4;
  --logo-grafana: #f4f4f4;
  --logo-ibm: #1f70c1;
  --logo-qinetiq: #f4f4f4;
  --text-primary: #f4f4f4;
  --text-secondary: #c6c6c6;
}
