html,
body {
  background-color: var(--background);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 3em;
}

:root[data-theme='light'] {
  --background: #fff;
  --border: #e0e0e0;
  --container: #f4f4f4;
  --container--rgb: 244, 244, 244;
  --disabled-primary: #f4f4f4;
  --disabled-secondary: #c6c6c6;
  --error: #da1e28;
  --focus: #0f62fe;
  --hero-title: #fff;
  --icon-primary: #000;
  --icon-secondary: #525252;
  --information: #0043ce;
  --link: #0f62fe;
  --success: #24a148;
  --text-primary: #000;
  --text-secondary: #525252;
  --text-placeholder: #a8a8a8;
  --warning: #f1c21b;
}

:root[data-theme='dark'] {
  --background: #262626;
  --border: #525252;
  --container: #393939;
  --container--rgb: 57, 57, 57;
  --disabled-primary: #393939;
  --disabled-secondary: #6f6f6f;
  --error: #fa4d56;
  --focus: #fff;
  --hero-title: #262626;
  --icon-primary: #f4f4f4;
  --icon-secondary: #c6c6c6;
  --information: #4589ff;
  --link: #78a9ff;
  --success: #42be65;
  --text-primary: #f4f4f4;
  --text-secondary: #c6c6c6;
  --text-placeholder: #6f6f6f;
  --warning: #f1c21b;
}
