.about,
.posts {
  display: flex;
  flex-direction: column;
}

.aboutButton,
.postsButton,
.postGrid {
  margin: 1em 0;
}

.aboutButton,
.postsButton {
  align-self: center;
}

.fallback,
.heroBackground,
.heroCutout {
  height: 100%;
  object-fit: cover;
  object-position: 75%;
  position: absolute;
  transform-origin: bottom right;
  width: 100%;
}

.hide {
  opacity: 0%;
}

.fallback {
  box-shadow: inset 0 0 60px 0 black;

  // why is this scale so weird?
  // because windows doesn't calculate the scale properly.
  // so we have to overscale slightly to prevent an ugly gap
  transform: translateZ(-4px) scale(5.1);
}

.heroBackground {
  // why is this scale so weird?
  // because windows doesn't calculate the scale properly.
  // so we have to overscale slightly to prevent an ugly gap
  transform: translateZ(-4px) scale(5.1);
}

.heroCutout {
  box-shadow: inset 0 0 60px 0 black;

  // why is this scale so weird?
  // because windows doesn't calculate the scale properly.
  // so we have to overscale slightly to prevent an ugly gap
  transform: translateZ(-2px) scale(3.06);
}

.heroTitleContainer {
  align-items: flex-start;
  align-self: center;
  color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  max-width: 1024px;
  padding: 0 1em;
  position: relative;
  width: 100%;

  h1 {
    font-size: 4em;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 5em;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 8em;
    }
  }
}
