.about,
.posts {
  display: flex;
  flex-direction: column;
}

.aboutButton,
.postsButton,
.postGrid {
  margin: 1em 0;
}

.aboutButton,
.postsButton {
  align-self: center;
}

.fallback {
  filter: blur(20px);
}

.fallback,
.heroBackground,
.heroCutout {
  height: 100vh;
  object-fit: cover;
  object-position: 75%;
  position: fixed;
  width: 100%;
}

.hide {
  opacity: 0;
}

.heroTitleContainer {
  align-items: flex-start;
  align-self: center;
  color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: flex-end;
  max-width: 1024px;
  padding: 0 1em;
  position: fixed;
  width: 100%;

  h1 {
    font-size: 4em;
  }

  @media screen and (width >= 768px) {
    h1 {
      font-size: 5em;
    }
  }

  @media screen and (width >= 1024px) {
    h1 {
      font-size: 8em;
    }
  }
}
