@mixin interactive {
  box-shadow: var(--shadow);
  transition: box-shadow 0.05s ease-in-out, transform 0.05s ease-in-out;
  outline-offset: 0;

  // Need to keep this separate from focus-visible else this won't work on safari
  &:hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
  }

  &:focus-visible {
    box-shadow: var(--shadow-hover);
    transform: scale(1.05);
    outline: 3px solid var(--interactive);
  }

  &:active,
  &:focus {
    box-shadow: var(--shadow-active);
    transform: scale(0.95);
  }
}

@mixin font-title {
  font-family: Rubik, sans-serif;
}

@mixin font-code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 80%;
}

@mixin font-contrast {
  font-family: Lora, serif;
  font-style: italic;
}
