@import '../../styles/mixins';

.container {
  background-color: var(--container);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 1em;
}

.title {
  @include font-title;

  min-width: 320px;
}

.icon svg {
  height: 64px;
  max-width: 100%;
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  position: relative;

  > * {
    margin-bottom: 1em;
  }
}

.company {
  margin: 0;
}

.companyLink {
  display: inline-block;
}

.date,
.jobTitle {
  @include font-contrast;

  color: var(--text-secondary);
  font-size: 80%;
}
